body{
    background-image: url(./images/background_pic.jpg);
    background-repeat: no-repeat;
    background-size: 85.4em 60em;   
}
.sidebar{
    background-image: url(./images/background_image.jpg);
    background-repeat: no-repeat;
    width: 15em;
    height: 36.8em;
    border: 2px solid wheat;
    margin-left: -0.45em;
    box-shadow: 5px -5px 5px black;
    background-size: 40em 40em;
}
.main_heading{
    text-align: center;
    color: navajowhite;
    font-family: fantasy;
    font-weight: lighter;
    text-shadow: 8px 8px 3px black;
}
.list{
    list-style-type: none;
    margin-left: 1em;
    font-family: sans-serif;
    font-style: oblique;
    text-shadow: 5px 5px 2px black;
}
a:link{
  text-decoration: none;
  
}
ul li{
    color: navajowhite;
}
.search{
    background-color: gray;
    width: 12.5em;
    margin-left: 1.5em;
}
.search1{
    background-color: gray;
}
.submit{
    position: absolute;
    top: 20.5em;
    }
    #map{
       
              
                margin-left: 38px;
                
    }
    .center_page{
                border: 2px solid wheat;
                width: 42em;
                height: 60em;
                margin-left: 250px;
                margin-top: -350px;
                background-image: url(./images/background_image.jpg);
                background-repeat: no-repeat;
                background-size: 45em 62.5em;
            }   
   .main{
       color: navajowhite;
    font-family: fantasy;
    font-weight: lighter;
    font-size: 2.2em;
    text-shadow: 8px 8px 3px black;
    text-align: justify;
    margin-left: 1.6em;
    margin-bottom: 0.6em;
   }     
   
   .paragraph{
       color: white;
       margin-left: 3.8em;
   }    
   a{
       color: navajowhite;
       
   }
   .para{
       color: white;
       margin-left: 3.8em;
       text-decoration: underline;
   }